<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lanou3g.you17">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApp.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mine.SignActivity"></activity>
        <activity android:name=".mainactivity.MainActivity"/>
        <activity android:name=".search.SearchActivity"/>

        <activity android:name=".search.SearchGridView.SearchTypeDetailsActivity"/>

        <activity android:name=".search.SearchTopGridView.SearchTypeDetailsActivity"/>

        <activity android:name=".homepage.ranking.RankingActivity"/>
        <activity android:name=".mine.records.RecordsConsumptionActivity"/>
        <activity android:name=".mine.Top_up_Activity"/>
        <activity android:name=".mine.SubscriptionActivity"/>
        <activity android:name=".mine.FeedbackActivity"/>
        <activity android:name=".homepage.singning.SingningActivity"/>
        <activity android:name=".mine.AsTheAuthorActivity"/>
        <activity android:name=".mine.game.GameActivity"/>
        <activity android:name=".homepage.topic.TopicActivity"/>
        <activity android:name=".homepage.animation.AnimationActivity"/>
        <activity android:name=".search.SearchTopGridView.SearchRecommendedActivity"/>
        <activity android:name=".homepage.strong.StrongActivity"/>
        <activity android:name=".homepage.sentiment.SentimentActivity"/>
        <activity android:name=".homepage.upadte.UpdateItemActivity"/>
        <activity android:name=".homepage.comic.ComicActivity"/>
        <activity android:name=".homepage.hot.HotActivity"/>
        <activity android:name=".homepage.finished.FinishedActivity"/>
        <activity android:name=".homepage.diffuse.DiffuseActivity"/>
        <activity android:name=".homepage.vip.VipActivity"/>
    </application>

</manifest>